* {
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 18px;
  margin-top: 0.4em !important;
  margin-bottom: 0.4em !important;
}

h1 {
  margin-top: 1.2em !important;
  margin-bottom: 1.2em !important;
}

h2 {
  margin-top: 1.0em !important;
  margin-bottom: 1.0em !important;
}

h3 {
  margin-top: 0.8em !important;
  margin-bottom: 0.8em !important;
}

h4 {
  margin-top: 0.6em !important;
  margin-bottom: 0.6em !important;
}

ul {
  padding-left: 2em !important;
}

a[href]:after {
	content : "" !important;
}